<!--
@description: "活动详情页"页面
d==detail
-->

<ion-view class="activityDetail">
	
	<!--返回按钮-->
	<div ng-click="dBack()" class="d_back" nav-direction="back">
		<i class="icon iconfont">&#xe64e;</i>
	</div>
	<img ng-click="go_home()" ng-if="followTJ_WX" ng-style="has_wx" src="../img/TJlook.jpg"/>
	
	<ion-content ng-class="{'has-footer':attend||close||begin_soon}" ng-style="has_top">
		
		<!--视频图片-->
		<div class="d_img">
			<img ng-src={{activityDetail.logo}} />
		</div>
		<ion-list>
			
			<!--活动页标题-->
			<p class="d_title">{{activityDetail.title}}</p>
			
			<!--活动时间地点-->
			<p class="d_time_place" ng-if="!speaker">
				<span  ng-if="time&&activityDetail.jointype!=0">
					<i class="a_time">活动时间：</i><i class="time">{{activityDetail.startimeFlag}} - {{activityDetail.endtimeFlag}}</i>
				</span>
				<span  ng-if="place">
					<i class="a_place">活动地点：</i><i class="place">{{activityDetail.province}} {{activityDetail.city}} {{activityDetail.area}} {{activityDetail.address}}</i>
				</span>
			</p>
			
			<!--活动介绍-->
			<dl class="d_info">
				<dd class="i_list">
					<p ng-bind-html="activityDetail.note"></p>
				</dd>
				<!--
				<dd class="i_url">
					<a href="#/detail">http://seq.cn</a>
					<a href="#/detail">http://m.seq.cn/act/301923.html</a>
				</dd>
				-->
			</dl>
			
			<!--扫二维码关注探基微信号-->
			<div class="d_weixin" ng-if="followTJ_WX">
				<div class="w_attention"><p>更多学习视频,请关注<i>探基</i>微信号</p><p>专注基因行业教育</p></div>				
				<div class="w_QR_code"><img src="../img/TJwx.jpg" alt="" /></div>
				<p class="w_distinguish ">长按上图，选择识别“识别图中二维码”</p>
			</div>			
		</ion-list>
	</ion-content>
	
	<ion-footer-bar ng-if="attend">
		<a href="{{activityDetail.url}}"><h1 class="title">参加活动</h1></a>
	</ion-footer-bar>
	
	<ion-footer-bar class="closed" ng-if="close">
		<h1 class="title">已关闭</h1>
	</ion-footer-bar>
	
	<ion-footer-bar class="beginSoon" ng-if="begin_soon">
		<h1 class="title">即将开始</h1>
	</ion-footer-bar>
</ion-view>