<ion-view ng-controller="home_sayCtrl">
	<!--二级分类-->
	<div class="bar bar-subheader has-header h_center">
		<ion-scroll direction="x" lock="true" scrollbar-y="false" scrollbar-x="false" style="width: 100%;">
			<div class="h_subnav">
				<button ng-click="sayRecommend()" ng-class="{true: 'active'}[isActive3]" class="button button-stable">推荐</button>
				<button ng-repeat="navItem in navItems3" class="button button-stable" ng-class="{'active':{{navItem.id}}==activeNavSay}" ng-click="navSay({{navItem.id}})">{{navItem.title}}</button>
			</div>
		</ion-scroll>
		<!--加载更多-->
		<button class="h_more button-clear" ng-click="openSayClassify()">
			<i class="icon iconfont">&#xe65a;</i>
		</button>
	</div>
	<!--主体内容-->
	<ion-content delegate-handle="h_content" on-scroll="getPos()" scroll-event-interval="5" class="h_content has-header has-subheader">
		<!--轮播图-->
		<div class="h_banner">
			<ion-slide-box auto-play="true" does-continue="true" show-pager="true" ng-if="slideimgs">
				<ion-slide ng-repeat="slide in slides">
					<a nav-direction="forward" href="{{slide.url}}"><img ng-src={{slide.logo}} alt="{{slide.title}}" /></a>
				</ion-slide>
			</ion-slide-box>
		</div>
		<!--精品推荐列表-->
		<ion-list class="h_list">
			<p class="h_recommend">精选推荐</p>
			<ion-item ng-repeat="item in items3" class="item item-thumbnail-left" ng-click="say_to_liveprofile(item.id,item.numType)" href="">
				<img ng-src={{item.logo}} />
				<h2>{{item.title}}</h2>
				<p><i>{{item.note}}</i><i> {{item.designation}}</i></p>
				<span class="h_camera"><i class="icon iconfont {{item.icon}}">&#xe652;</i><i>{{item.analyNum}}</i></span>
				<div class="h_state">{{item.info}}</div>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll spinner="dots" ng-if="sayDataLoad" on-infinite="loadMoreSay()"></ion-infinite-scroll>
	</ion-content>
</ion-view>